{% extends 'base_panel.html.twig' %}

{% block body %}
    <h1>Bilet</h1>

    <table>
        <tbody>
            <tr>
                <th>Cinemahallhasmovieid</th>
                <td>{{ ticket.cinemaHallHasMovieId }}</td>
            </tr>
            <tr>
                <th>Seatid</th>
                <td>{% if ticket.seatId %}{{ ticket.seatId|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ ticket.email }}</td>
            </tr>
            <tr>
                <th>UserId</th>
                <td>{{ ticket.userId.email }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ ticket.status }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-light" href="{{ path('ticket_index') }}">Powrót do listy</a>
    <a class="btn btn-success" href="{{ path('ticket_edit', { 'id': ticket.id }) }}">Edytuj</a>

    {{ form_start(delete_form) }}
        <br><input class="btn btn-danger" type="submit" value="Usuń">
    {{ form_end(delete_form) }}

{% endblock %}
