{% extends "base_panel.html.twig" %}

{% block title %}AppBundle:Login:login{% endblock %}

{% block body %}
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3>Logowanie</h3>
        </div>
        <div class="panel-body">
            {% if errors %}
                <div class="allert allert-danger">
                    {{ errors.messageKey|trans(errors.messageData, 'security') }}
                </div>
            {% endif %}
            <form action="{{ path('login') }}" method="post" name="loginForm">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" name="_email" id="email" class="form-control" value="{{ email }}" required autofocus>
                </div>
                <div class="form-group">
                    <label for="password">Hasło:</label>
                    <input type="password" name="_password" id="password" class="form-control">
                </div>
                <button class="btn btn-info pull-right" type="submit">Zaloguj</button>
                <a href="{{ path('user_new') }}"><input type="button" class="btn btn-light" value="Zarejestruj się"></a>
                <a style="color: #ff5860" class="nav-link" href="{{ path('remind_password') }}">Nie pamiętam hasła</a>
            </form>
        </div>
    </div>
{% endblock %}