{% extends 'base.html.twig' %}

{% block body %}
    <section id="slider" class="bg-page-dark-1">
        <div class="slider-background">
            {% for i in 1..4 %}
                <img src="{{ movies[i-1].scene }}" alt="{{ movies[i-1].title }}" class="section-slider-background" data-background-id="{{ i }}">
            {% endfor %}
        </div>
        <div class="container">
            <div class="d-flex align-items-center justify-content-between pb-4">
                <div class="">
                    <h1><b>Nowości</b> w kiniach</h1>
                </div>
                <div class="controls sm-hidden justify-content-between d-flex p-0">
                    <span id="slider-left"></span>
                    <span id="slider-right"></span>
                </div>
            </div>
            <div class="slider">
                {% for i in 1..4 %}
                    <div class="item" data-background-id="{{ i }}">
                        {% include 'default/movie_preview.html.twig' with
                            {'title': movies[i-1].title, 'poster': movies[i-1].poster, 'link':path('movie_by_cinema', {'movie_id': movies[i-1].id}) }
                            only %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="content" class="bg-page-dark-1 border-before">
        <div class="container-fluid content-menu pt-4">
            <div class="container">
                <div class="row col-12 align-items-center">
                    <div class="col">
                        <h2>Aktualne filmy</h2>
                    </div>
                </div>
                <div class="content-tabs col font-weight-light">
                    <ul class="nav nav-tabs border-0">
                        <li class="nav-item">
                            <a class="nav-link py-3 px-0 mr-4 active show" data-toggle="tab" href="#home">Najlepsze filmy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-3 px-0 mr-4" data-toggle="tab" href="#menu1">Inne filmy</a>
                        </li>
                        {#<li class="nav-item">#}
                            {#<a class="nav-link py-3 px-0 mr-4" data-toggle="tab" href="#menu2">TV SERIES</a>#}
                        {#</li>#}
                    </ul>
                </div>
            </div>
        </div>

        <div class="container pt-5">
            <div class="tab-content">
                <div class="tab-pane container active" id="home">
                    <div class="row">
                        {% for i in 5..10 %}
                            <div class="col-6 col-sm-12 col-lg-6 mb-5">
                                <div class="row">
                                    <div class="col-12 col-sm-4">
                                        <img src="{{ movies[i-1].poster }}" class="img-fluid" alt="{{ movies[i-1].title }}">
                                    </div>
                                    <div class="col-12 col-sm-8">
                                        <h4 class="m-0">{{ movies[i-1].title }}</h4>
                                        {#<p class="mb-1 mt-0">Category1, Category2</p>#}
                                        {#<p class="m-1 mt-0"># ocena</p>#}
                                        <p>{{ movies[i-1].description }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="tab-pane container" id="menu1">
                    <div class="row">
                    {% for i in 11..22 %}
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            {% include 'default/movie_preview.html.twig' with
                                {'title': movies[i-1].title, 'poster': movies[i-1].poster, 'link':path('movie_by_cinema', {'movie_id': movies[i-1].id}) }
                                only %}
                        </div>
                    {% endfor %}
                    </div>
                </div>

                {#<div class="tab-pane container" id="menu2">#}
                    {#<div class="row">#}
                        {#{% for i in 1..12 %} #}{# to tez jest w sliderze #}
                            {#<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">#}
                                {#{% include 'default/movie_preview.html.twig' with#}
                                    {#{'title':'Nazwa filmu', 'categories':['category1','category2'], 'mark':4.5,'poster': '/images/sliderimg.jpg'}#}
                                    {#only %}#}
                            {#</div>#}
                        {#{% endfor %}#}
                    {#</div>#}
                {#</div>#}
            </div>

        </div>
    </section>

    <section id="premieres" class="bg-page-dark-2 py-5">
        <div class="container">
            <h2>Polecane filmy</h2>
            <div class="row pt-4">
                {% for i in 23..28 %} {# to tez jest w sliderze #}
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        {% include 'default/movie_preview.html.twig' with
                            {'title': movies[i-1].title, 'poster': movies[i-1].poster, 'link':path('movie_by_cinema', {'movie_id': movies[i-1].id}) }
                            only %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="partners" class="bg-page-dark-1 pt-3 pb-5 border-after">
        <div class="container">
            <h2 class="py-3">Nasi partnerzy</h2>
            <p>Oto firmy z którymi mamy nawiązaną współpracę</p>
            <div class="row py-4">

                <div class="col-6 col-sm-4 col-md-3 col-lg-2 align-items-center d-flex">
                    <a href="http://www.cinema3d.pl/"><img src="/images/logos/Cinema_3D.jpg" class="img-fluid" alt="Cinema 3D"></a>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 align-items-center d-flex">
                    <a href="https://www.cinema-city.pl/"><img src="/images/logos/Cinema_City.gif" class="img-fluid" alt="Cinema City"></a>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 align-items-center d-flex">
                    <a href="https://www.helios.pl/"><img src="/images/logos/Helios.png" class="img-fluid" alt="Helios"></a>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 align-items-center d-flex">
                    <a href="https://www.cinema-city.pl/imax#/"><img src="/images/logos/IMAX.jpg" class="img-fluid" alt="IMAX"></a>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 align-items-center d-flex">
                    <a href="http://dinopark.malbork.pl/kino-5d"><img src="/images/logos/KINO_5D.jpg" class="img-fluid" alt="KINO 5D"></a>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 align-items-center d-flex">
                    <a href="https://multikino.pl/"><img src="/images/logos/Multikino.png" class="img-fluid" alt="Multikino"></a>
                </div>


            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    <style>
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/bxSlider.js')}}"></script>
    <script>
        $(document).ready(function(){
            const changeSliderBackground = function(object){
                let image_id = object.attr('data-background-id');
                $(`#slider .section-slider-background.opaque`).removeClass('opaque');
                $(`#slider .section-slider-background[data-background-id=${image_id}]`).addClass('opaque');
            };

            let item_amount = 4;
            let item_width = ($('.slider').width()/item_amount).toFixed(2),
                magin = 40,
                options = {
                    minSlides:item_amount,
                    maxSlides:item_amount,
                    moveSlides:1,
                    slideMargin:magin,
                    slideWidth: item_width,
                    speed:1000,
                    nextSelector:$('#slider-right'),
                    nextText:'<i class="fas fa-arrow-right"></i>',
                    prevSelector:$('#slider-left'),
                    prevText:'<i class="fas fa-arrow-left"></i>',
                    pager:false,
                    onSlideBefore: function(currentSlide){
                        changeSliderBackground(currentSlide);
                    },
                    onSliderLoad: function(){
                        changeSliderBackground(this.getCurrentSlideElement());
                    },
                    //
                };

            let slider = $('.slider').bxSlider(options);

            let cal, unit;
            $(window).on('resize',function(){
                item_width = ($('#slider').width()/item_amount).toFixed(2),
                cal=$(this).width()/item_width|0;
                unit=cal>item_amount ? item_amount : cal;

                options = Object.assign(options, {
                    maxSlides: unit,
                    moveSlides: unit,
                    slideWidth: item_width,
                });
                slider.reloadSlider(options);
            });

        });
    </script>
{% endblock %}
