{% extends 'base_panel.html.twig' %}

{% block body %}
    <h1>Lista kin</h1>

    <a href="{{ path('cinema_new') }}">Dodaj kino</a><br><br>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Street</th>
                    <th>Streetnumber</th>
                    <th>Zipcode</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for cinema in cinemas %}
                <tr>
                    <td>{{ cinema.name }}</td>
                    <td>{{ cinema.street }}</td>
                    <td>{{ cinema.streetNumber }}</td>
                    <td>{{ cinema.zipcode }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('cinema_show', { 'id': cinema.id }) }}">Pokaż</a>
                            </li>
                            <li>
                                <a href="{{ path('cinema_edit', { 'id': cinema.id }) }}">Edytuj</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
