{% extends 'base_panel.html.twig' %}

{% block body %}
    <h1>Kino</h1>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ cinema.name }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ cinema.street }}</td>
            </tr>
            <tr>
                <th>Streetnumber</th>
                <td>{{ cinema.streetNumber }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ cinema.zipcode }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-light" href="{{ path('cinema_index') }}">Powrót do listy</a>
    <a class="btn btn-success" href="{{ path('cinema_edit', { 'id': cinema.id }) }}">Edytuj</a>

    {{ form_start(delete_form) }}
        <br><input class="btn btn-danger" type="submit" value="Usuń">
    {{ form_end(delete_form) }}
{% endblock %}
