{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cinema_halls list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cinema_hall in cinema_halls %}
            <tr>
                <td><a href="{{ path('cinema_hall_show', { 'id': cinema_hall.id }) }}">{{ cinema_hall.id }}</a></td>
                <td>{{ cinema_hall.number }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cinema_hall_show', { 'id': cinema_hall.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cinema_hall_edit', { 'id': cinema_hall.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cinema_hall_new') }}">Create a new cinema_hall</a>
        </li>
    </ul>
{% endblock %}
