{% extends 'base_panel.html.twig' %}

{% block body %}
    <h1>Lista sal kinowych</h1>

    <a href="{{ path('cinema_hall_new') }}">Dodaj salę kinową</a><br><br>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Number</th>
                    <th>Amount of Seats</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for cinema_hall in cinema_halls %}
                <tr>
                    <td><a href="{{ path('cinema_hall_show', { 'id': cinema_hall.id }) }}">{{ cinema_hall.id }}</a></td>
                    <td>{{ cinema_hall.number }}</td>
                    <td>{{ cinema_hall.seats }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('cinema_hall_show', { 'id': cinema_hall.id }) }}">Pokaż</a>
                            </li>
                            <li>
                                <a href="{{ path('cinema_hall_edit', { 'id': cinema_hall.id }) }}">Edytuj</a>
                            </li>
                            <li>
                                <a href="{{ path('cinema_hall_set_seats', { 'id': cinema_hall.id }) }}">Ustaw siedzenia</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
