{% extends 'base_panel.html.twig' %}

{% block body %}
    <h1>Sala kinowa</h1>

    <table>
        <tbody>
            <tr>
                <th>Number</th>
                <td>{{ cinema_hall.number }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-light" href="{{ path('cinema_hall_index') }}">Powrót do listy</a>
    <a class="btn btn-success" href="{{ path('cinema_hall_edit', { 'id': cinema_hall.id }) }}">Edytuj</a>

    {{ form_start(delete_form) }}
        <br><input class="btn btn-danger" type="submit" value="Usuń">
    {{ form_end(delete_form) }}
{% endblock %}
