{% extends 'base.html.twig' %}

{% block body %}
    <h1>Movieimage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ movieImage.id }}</td>
                <td></td>
            </tr>
            <tr>
                <th>Orginal</th>
                <td>{{ movieImage.orginal }}</td>
                <td><a href="{{ asset('uploads/movie_images_orginal/' ~ movieImage.orginal) }}"><img src="{{ asset('uploads/movie_images_orginal/' ~ movieImage.orginal) }}" alt="movieImage.orginal"></a></td>
            </tr>
            <tr>
                <th>Extra</th>
                <td>{{ movieImage.extra }}</td>
                <td><a href="{{ asset('uploads/movie_images_extra/' ~ movieImage.extra) }}"><img src="{{ asset('uploads/movie_images_extra/' ~ movieImage.extra) }}" alt="movieImage.extra"></a></td>
            </tr>
            <tr>
                <th>Large</th>
                <td>{{ movieImage.large }}</td>
                <td><a href="{{ asset('uploads/movie_images_large/' ~ movieImage.large) }}"><img src="{{ asset('uploads/movie_images_large/' ~ movieImage.large) }}" alt="movieImage.large"></a></td>
            </tr>
            <tr>
                <th>Normal</th>
                <td>{{ movieImage.normal }}</td>
                <td><a href="{{ asset('uploads/movie_images_normal/' ~ movieImage.normal) }}"><img src="{{ asset('uploads/movie_images_normal/' ~ movieImage.normal) }}" alt="movieImage.normal"></a></td>
            </tr>
            <tr>
                <th>Small</th>
                <td>{{ movieImage.small }}</td>
                <td><a href="{{ asset('uploads/movie_images_small/' ~ movieImage.small) }}"><img src="{{ asset('uploads/movie_images_small/' ~ movieImage.small) }}" alt="movieImage.small"></a></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('movieimages_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('movieimages_edit', { 'id': movieImage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
