{% extends 'base_panel.html.twig' %}

{% block body %}
    <h1>Miasto</h1>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ city.name }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-light" href="{{ path('city_index') }}">Powrót do listy</a>
    <a class="btn btn-success" href="{{ path('city_edit', { 'id': city.id }) }}">Edytuj</a>

    {{ form_start(delete_form) }}
        <br><input class="btn btn-danger" type="submit" value="Usuń">
    {{ form_end(delete_form) }}

{% endblock %}
