{% extends 'base.html.twig' %}

{% block body %}

    {% if loggedUserRole == 'admin' %}
        <h1>Edycja użytkownika</h1>
    {% else %}
        <h1>Zmień email lub hasło</h1>
    {% endif %}

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

    {% if loggedUserRole == 'admin' %}
        <ul>
            <li>
                <a href="{{ path('user_index') }}">Powrót do listy</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Usuń">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    {%  endif %}

{% endblock %}
