{% extends 'base_panel.html.twig' %}

{% block body %}
    <h1>Użytkownik</h1>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ user.surname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Emailactivate</th>
                <td>{% if user.emailActivate %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Activationtoken</th>
                <td>{{ user.activationToken }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.role }}</td>
            </tr>
            <tr>
                <th>Cinema</th>
                <td>{{ user.cinema }}</td>
            </tr>

        </tbody>
    </table>

    <br><a href="{{ path('user_index') }}"><input type="button" class="btn btn-light" value="Powrót do listy"></a>
    <a href="{{ path('user_edit', { 'id': user.id }) }}"><input type="button" class="btn btn-success" value="Edytuj"></a>
    {% if loggedUserRole == 'admin' %}
        {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Usuń">
        {{ form_end(delete_form) }}
    {% endif %}

{% endblock %}
