<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-page-dark-1 sticky-top px-3 py-0">
        <div class="container container-fluid">
            <a class="navbar-brand py-3 px-5 m-0" href="{{ path('homepage') }}"><img src="{{ asset('images/logo.png')}}" alt="TicketManiac" class="img-fluid"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a style="color: #ff5860" class="nav-link">Witaj {{ app.user.name }}</a>
                {% endif %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item px-xs-2 px-sm-2 active"><a href="{{ path('homepage') }}" class="nav-link"><i class="fas fa-home"></i></a></li>
                    <li class="nav-item px-xs-2 px-sm-2"><a href="{{ path('cinema_all_index') }}" class="nav-link">Wybierz kino</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="dropdown">
                            <li class="nav-item px-xs-2 px-sm-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a href="#" class="nav-link">Ustawienia</a></li>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{{ path('user_edit', { 'id': app.user.id }) }}">Zmień hasło/email</a>
                                {% if app.user.role == 'admin' or app.user.role == 'moderator' %}
                                    <a class="dropdown-item" href="{{ path('user_index') }}">Użytkownicy</a></li>
                                    <a class="dropdown-item" href="{{ path('cinema_index') }}">Kino</a></li>
                                {% endif %}
                                {% if app.user.role != 'client' %}
                                    <a class="dropdown-item" href="{{ path('movie_index') }}">Film</a></li>
                                    <a class="dropdown-item" href="{{ path('cinema_hall_has_movie_index') }}">Seans</a></li>
                                {% endif %}
                                {% if app.user.role == 'admin' %}
                                    <a class="dropdown-item" href="{{ path('city_index') }}">Miasto</a></li>
                                    <a class="dropdown-item" href="{{ path('cinema_hall_index') }}">Sala</a></li>
                                    <a class="dropdown-item" href="{{ path('ticket_index') }}">Bilet</a></li>
                                    <a class="dropdown-item" href="{{ path('ticket_sold_index') }}">Bilet - ARCHIWUM</a></li>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <li class="nav-item px-xs-2 px-sm-2 d-block d-md-none d-lg-none d-xl-none"><a href="{{ path('login') }}" class="nav-link">Logowanie</a></li>
                        <li class="nav-item px-xs-2 px-sm-2"><a href="{{ path('user_new') }}" class="nav-link">Rejestracja</a></li>
                    {% endif %}
                </ul>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ logout_path() }}" class="btn btn-login d-none d-md-flex">Wyloguj</a>
            {% else %}
                <a href="{{ path('login') }}" class="btn btn-login d-none d-md-flex">Zaloguj</a>
            {% endif %}
        </div>
    </nav>
</header>