{% extends 'base_panel.html.twig' %}

{% block body %}
    <h1>Lista archiwalnych biletów</h1>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Cinemahallnumer</th>
                    <th>City</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Time</th>
                    <th>Seat</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for ticket_sold in ticket_solds %}
                <tr>
                    <td>{{ ticket_sold.cinemaHallNumer }}</td>
                    <td>{{ ticket_sold.city }}</td>
                    <td>{{ ticket_sold.title }}</td>
                    <td>{{ ticket_sold.price }}</td>
                    <td>{% if ticket_sold.time %}{{ ticket_sold.time|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if ticket_sold.seat %}{{ ticket_sold.seat|join(', ') }}{% endif %}</td>
                    <td>{{ ticket_sold.email }}</td>
                    <td>{{ ticket_sold.status }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('ticket_sold_show', { 'id': ticket_sold.id }) }}">Pokaż</a>
                            </li>
                            <li>
                                <a href="{{ path('ticket_sold_edit', { 'id': ticket_sold.id }) }}">Edytuj</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
