{% extends 'base_panel.html.twig' %}

{% block body %}
    <h1>Ticket_sold</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticket_sold.id }}</td>
            </tr>
            <tr>
                <th>Cinemahallnumer</th>
                <td>{{ ticket_sold.cinemaHallNumer }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ ticket_sold.city }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ticket_sold.title }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ ticket_sold.price }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{% if ticket_sold.time %}{{ ticket_sold.time|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Seat</th>
                <td>{% if ticket_sold.seat %}{{ ticket_sold.seat|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ ticket_sold.email }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ ticket_sold.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ticket_sold_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ticket_sold_edit', { 'id': ticket_sold.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
