{% extends 'base_panel.html.twig' %}

{% block body %}
    <h1>Edycja filmu</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Edytuj" />
    {{ form_end(edit_form) }}


    <br><a class="btn btn-light" href="{{ path('movie_index') }}">Powrót do listy</a>

            {{ form_start(delete_form) }}
    <br><input class="btn btn-danger" type="submit" value="Usuń">
            {{ form_end(delete_form) }}

{% endblock %}
