{% extends 'base_panel.html.twig' %}

{% block body %}
    <h1>Lista filmów</h1>


            <a href="{{ path('movie_new') }}">Dodaj nowy film</a><br><br>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Poster</th>
                    <th>Scene</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.description }}</td>
                    <td>{{ movie.price }}</td>
                    <td><img src="{{ asset(movie.poster) }}" alt="{{ movie.poster }}" class="img-fluid"></td>
                    <td><img src="{{ asset(movie.scene) }}" alt="{{ movie.scene }}" class="img-fluid"></td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('movie_show', { 'id': movie.id }) }}">Pokaż</a>
                            </li>
                            <li>
                                <a href="{{ path('movie_edit', { 'id': movie.id }) }}">Edytuj</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
