{% extends 'base_panel.html.twig' %}

{% block body %}
    <h1>Dodaj salę z filmem</h1>

    {% if error is defined and error != "" %}
    <h3 class="text-white bg-danger p-2">{{ error }}</h3>
    {% endif %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Dodaj" />
    {{ form_end(form) }}

    <br><a class="btn btn-light" href="{{ path('cinema_hall_has_movie_index') }}">Powrót do listy</a>
{% endblock %}
