{% extends 'base_panel.html.twig' %}

{% block body %}
    <h1>Sala kinowa z filmem</h1>

    <table>
        <tbody>
            <tr>
                <th>Movieid</th>
                <td>{{ cinema_hall_has_Movie.movieId.title }}</td>
            </tr>
            <tr>
                <th>Cinemahallid</th>
                <td>{{ cinema_hall_has_Movie.cinemaHallId }}</td>
            </tr>
            <tr>
                <th>Od kiedy film jest w kinach</th>
                <td>{% if cinema_hall_has_Movie.timeStart %}{{ cinema_hall_has_Movie.timeStart|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Do kiedy film jest w kinach</th>
                <td>{% if cinema_hall_has_Movie.timeEnd %}{{ cinema_hall_has_Movie.timeEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Godzina rozpoczecia filmu</th>
                <td>{% if cinema_hall_has_Movie.timeMovieStart %}{{ cinema_hall_has_Movie.timeMovieStart|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Godzina zakonczenia filmu</th>
                <td>{% if cinema_hall_has_Movie.timeMovieEnd %}{{ cinema_hall_has_Movie.timeMovieEnd|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-light" href="{{ path('cinema_hall_has_movie_index') }}">Powrót do listy</a>
    <a class="btn btn-success" href="{{ path('cinema_hall_has_movie_edit', { 'id': cinema_hall_has_Movie.id }) }}">Edytuj</a>

    {{ form_start(delete_form) }}
        <br><input class="btn btn-danger" type="submit" value="Usuń">
    {{ form_end(delete_form) }}
{% endblock %}
